accelerate>=1.9,<2
bitsandbytes>=0.46,<1
datasets>=4,<5
google-cloud-storage>=3.2,<4
google-cloud-secret-manager>=2.24,<3
huggingface-hub>=0.34,<1
peft>=0.17,<1
protobuf>=5,<7
safetensors>=0.5,<1
torch>=2.7,<3
transformers>=4.55,<5
trl>=0.21,<1
